[submodule ".registry"]
	path = .registry
	url = https://github.com/bisaloo/universe
	shallow = true
	branch = HEAD
[submodule "asymptor"]
	path = asymptor
	url = https://github.com/bisaloo/asymptor
	shallow = true
	registered = true
[submodule "contactdata"]
	path = contactdata
	url = https://github.com/bisaloo/contactdata
	shallow = true
	registered = true
[submodule "fundiversity"]
	path = fundiversity
	url = https://github.com/bisaloo/fundiversity
	shallow = true
	registered = true
[submodule "mcmcensemble"]
	path = mcmcensemble
	url = https://github.com/bisaloo/mcmcensemble
	shallow = true
	registered = true
[submodule "simpleMH"]
	path = simpleMH
	url = https://github.com/bisaloo/simpleMH
	shallow = true
	registered = true
[submodule "semaforos"]
	path = semaforos
	url = https://github.com/bisaloo/semaforos
	shallow = true
	registered = true
[submodule "lightr"]
	path = lightr
	url = https://github.com/ropensci/lightr
	shallow = true
	registered = true
[submodule "rromeo"]
	path = rromeo
	url = https://github.com/ropensci/rromeo
	shallow = true
	registered = true
[submodule "pavo"]
	path = pavo
	url = https://github.com/rmaia/pavo
	shallow = true
	registered = true
